name: first workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "hellow world"
      - name: Print Goodbye
        run: echo "Done...! bye"
